body{
    background-color: black;
}

.container{
    width: Fill (1,344px)px;
    height: Hug (5,766px)px;
    padding: 48px 0px 48px 0px;
    gap: 0px;
    opacity: 0px;
    margin: 20px;

}
.header{
    display: flex;
    width: Fill (1,344px);
    height:(80px);
    padding: 16px 0px 0px 0px;
    gap: 0px;
    /* border-bottom: 1px solid white; */
    justify-content: space-between;
    opacity: 0px;
    
    
}

.logo{
    color:  #FFFFFF; 
    font-family:MuseoModerno;
    font-size: 42px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.bar{
    color: #FFFFFF;
    font-family: Chivo;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    gap: 32px;
    display: flex;
}
.divider{
    width: 1504px;
    height: 0px;
    gap: 0px;
    /* border: 1px 0px 0px 0px; */
    opacity: 0px;
    border: 1px solid #FFFFFF
}
.landing-page{
    width: Fill (1,344px);
    height: (1,104px);
    padding: 72px 0px 72px 0px;
    gap: 48px;
    /* border: 0px 0px 1px 0px; */
    opacity: 0px;
    align-content: center;

}

.landing-page p{
    color: white;
    font-family: Chivo;
    font-size: 120px;
    font-weight: 900;
    line-height: 120px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 1344px;
    height: 240px;
    gap: 0px;
    opacity: 0px;
    text-align: center;

}
.landing-page img{
    width: 1344px;
    height: 672px;
    gap: 0px;
    border-radius: 56px;
    /* border: 1px 0px 0px 0px; */
    opacity: 0px;
    /* margin-left: 60px; */

}

.portfolio p{
    color: white;
    width: 900px;
    height: 272px;
    max-width: 900px;
    gap: 0px;
    opacity: 0px;
    font-family: Chivo;
    font-size: 64px;
    font-weight: 900;
    line-height: 68px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.portfolio img{
    width: 1344px;
    height: 810px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

}

.personal-service{
    /* color: white; */
    display: flex;
    /* list-style: none; */
    justify-content: space-between;
    padding: 48px 0px 48px 48px;

}
.personal-service p{
    color: white;
    /* font-weight: bold; */
    font-family: Chivo;
    font-size: 28px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.personal-service li{
    color: white;
    /* font-weight: bold; */
    list-style: none;
    font-family: Archivo;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


}

.collage{
    display: flex;
    font-weight: bold;
    flex-direction: column;
    gap: 50px;
}

.two-img{
    display: flex;
    
    justify-content: space-between;
}


#single-img{
    display: flex;
    justify-content: end;

}
.matrics{
    padding: 120px 0px 48px 0px;
    display: flex;
    justify-content: space-evenly;
}
.matrics>p{
    color: white;
    font-weight: 900;
    font-size: 30px;
}
.list2 p{
    color: white;
}
.list2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 50px;
    column-gap: 100px ;
}

.cell{
    border-top: 1px solid  #FFFFFF29;

}
.list2 li{
    color: white;
    list-style: none;
    font-family: Chivo;
    font-size: 48px;
    font-weight: 900;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}


/* .carousel h1{
    font-weight: bolder;
    color: white;
    text-align: center;
    font-size: 48px;
} */


.carousel{
    width: 1344px;
    height: 436px;
    padding: 48px 0px;
    margin: 48px;
    /* background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 84%); */
    /* border-bottom: 1px solid black; */
}
.divider{
    width: 1536px;
    height: 0;
    margin-top: 48px;
    border-bottom:1px solid white ;
}
.carousel >h1{
    width: 1260px;
    height: 52px;
    max-width: 1260px;
    gap: 0px;
    opacity: 0px;
    font-family: DotGothic16;
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}
.testimonial_cards{
    width: 1344px;
    height: auto;
    margin: 24px;
    display: flex;
    align-items: flex-start;
    margin-top: 24px;
    overflow: hidden;
}
.testimonial_card{
    /* box-sizing:border-box; */
    width: 288px;
    /* height: auto; */
    padding: 24px 24px 0 24px;
    margin: 16px;
    border: 1px solid white;
    border-radius: 16px;
}
.testimonial_container{
    width: 240px;
    height: 48px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    width: 48px;
    height: 48px;
    border-radius: 999px;
}
.profile > img{
    width: 48px;
    height: 48px;
    gap: 0px;
    border-radius: 999px;
    opacity: 0px;
    border-top: 1px solid white
}
.text_content{
    margin-left: 8px;
    width: 180px;
    height: 40px;
    /* background-color: white; */
}
.text_content >h1{
    width: 180px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Archivo;
    font-size: 15px;
    font-weight: 800;
    line-height: 20px;
    text-align:left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}
.text_content >p{
    width: 180px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Archivo;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}
.quote_container{
    width:  240px;
    /* width:  100%; */
    /* height:  104px; */
    padding: 0px 0px 8px 0px;
    margin: 28px;
    opacity: 0.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    /* background-color: beige; */
    box-sizing: border-box;
}
.quote_container >p{
    width: 180px;
    /* height: 96px; */
    gap: 0px;
    opacity: 0px;
    font-family: Archivo;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}
.line_container{
    width: 48px;
    height: 100px;
    /* word-wrap: break-word; */
}
.line_container >div{
    width: 1px;
    height: 100%;
    gap: 0px;
    border-radius: 1px;
    border-left: 1px solid white;
    opacity: 0px;
}

.feedback p{
    color: white;
}
footer{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF99;
    margin: 20px;
}

#Contact{
    font-weight: bold;
    border: 2px solid grey;
    border-radius:5px;
    padding: 5px;
    color: white;
}