body{
    background-color: black;
}

.container{
    width: Fill (1,344px)px;
    height: Hug (5,766px)px;
    padding: 48px 0px 48px 0px;
    gap: 0px;
    opacity: 0px;
    margin: 20px;

}
.header{
    display: flex;
    width: Fill (1,344px);
    height:(80px);
    padding: 16px 0px 16px 0px;
    gap: 0px;
    /* border-bottom: 1px solid white; */
    justify-content: space-between;
    opacity: 0px;
    
    
}

.logo{
    color:  #FFFFFF; 
    font-family:MuseoModerno;
    font-size: 42px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.bar{
    color: #FFFFFF;
    font-family: Chivo;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    gap: 32px;
    display: flex;
}
.divider{
    width: 1504px;
    height: 0px;
    gap: 0px;
    /* border: 1px 0px 0px 0px; */
    opacity: 0px;
    border: 1px solid #FFFFFF
}
.landing-page{
    width: Fill (1,344px);
    height: (1,104px);
    padding: 72px 0px 72px 0px;
    gap: 48px;
    /* border: 0px 0px 1px 0px; */
    opacity: 0px;
    align-content: center;

}

.landing-page p{
    color: white;
    font-family: Chivo;
    font-size: 120px;
    font-weight: 900;
    line-height: 120px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 1344px;
    height: 240px;
    gap: 0px;
    opacity: 0px;
    text-align: center;

}
.landing-page img{
    width: 1344px;
    height: 672px;
    gap: 0px;
    border-radius: 56px;
    /* border: 1px 0px 0px 0px; */
    opacity: 0px;
    /* margin-left: 60px; */

}

.portfolio p{
    color: white;
    width: 900px;
    height: 272px;
    max-width: 900px;
    gap: 0px;
    opacity: 0px;
    font-family: Chivo;
    font-size: 64px;
    font-weight: 900;
    line-height: 68px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.portfolio img{
    width: 1344px;
    height: 810px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

}

.persoanl-service {
    color: white;
    display: flex;


}
